<!DOCTYPE html>
<html lang="en">
  <%= erb 'partials/html_head'.to_sym %>
  <body @hashchange.window="pageChangeHandler" x-data="app.init('<%= api_url %>')">
    <div class="container">
      <%= erb 'partials/navbar'.to_sym %>
      <div class="row mt-4">
        <div class="col">
          <%= erb 'partials/alerts'.to_sym %>
          <%= erb 'pages/manage'.to_sym %>
          <%= erb 'pages/home'.to_sym %>
          <%= erb 'pages/branch_detail'.to_sym %>
        </div>
      </div>
    </div>
  </body>
  <% if ENV['APP_ENV'] === "development" %>
    <script src="app.dev.js"></script>
  <% else %>
    <script src="app.prod.js"></script>
  <% end %>
</html>
